* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sora";
    color: white;
    background: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    background: linear-gradient(135deg, #D9D9D9 0%, #777777 33%, #D9D9D9 66%, #777777 100%);
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: left;
    padding: 60px;
}

#home, #skills, #contact {
    background: linear-gradient(135deg, rgb(84,134,184) 0%, rgb(213,225,237) 33%, rgb(178,209,244) 66%, rgb(190,188,188) 100%);
}

#about, #projects {
    background: linear-gradient(135deg, rgb(215,113,58) 0%, rgb(222,197,178) 33%, rgb(211,151,123) 66%, rgb(180,159,145) 100%);
}

#welcome h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1px;
}

#welcome p {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}

.barrier {
    background: white;
    height: 2px;
    margin: 20px 0;
}