/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sora";
    color: white;
    background: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#home, #skills, #contact {
    background: linear-gradient(135deg, rgb(84,134,184) 0%, rgb(213,225,237) 33%, rgb(178,209,244) 66%, rgb(190,188,188) 100%);
}

#about, #projects {
    background: linear-gradient(135deg, rgb(215,113,58) 0%, rgb(222,197,178) 33%, rgb(211,151,123) 66%, rgb(180,159,145) 100%);
}


/* Navigation bar */ 

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    background: linear-gradient(135deg, #D9D9D9 0%, #777777 33%, #D9D9D9 66%, #777777 100%);
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

section {
    min-height: 100vh;
    padding: 60px;
}



/* Welcome layout */

#welcome h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1px;
}

#welcome p {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}

.barrier {
    background: white;
    height: 3px;
    margin: 2rem 0;
    border-radius: 2px;
}

#signature {
    display: flex;
    justify-content: space-between;
    align-items: wrap;
}

.student-info, .student-name {
    font-weight: 400;
}


/* Titles for each section */

#about h2, #projects h2, #skills h2, #contact h2 {
    font-size: 3rem;
    font-weight: 450;
    margin-bottom: 1rem;
}


/* About layout */

#about .container {
    height: 100%;
    text-align: left;
}

.about-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    height: 70%;
}

.about-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-card {
    background: seashell;
    border: 1px solid rgb(47, 47, 47);
    text-align: left;
    color: black;
    min-height: 200px;
}

.about-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}

.about-card:hover::before {
    left: 100%;
}

.about-card:hover {
    background: seashell;
}

.about-1, .about-3 {
    border-radius: 70px 70px 70px 20px;
}

.about-2 {
    border-radius: 70px 70px 20px 70px;
}

.about-card h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 5px 0 5px 0;
}

.about-card p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0 5px 0;
}


/* Skills layout */

#skills  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#skills h2 {
    font-size: 3rem;
    font-weight: 450;
    margin-bottom: 5px;
}

.skills-card {
    background: linear-gradient(180deg, rgb(68, 110, 51) 0%, rgb(147, 187, 114) 100%);
    border-radius: 20px;
    position: relative;
}

.skills-card h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    padding: 15px;
}

.skills-card h5 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}